<div class="project-preview">
  <a class='link-unstyled' href="<%= @relative_url %>"><img class="project-preview-img" src="<%= @thumbnail_url %>" alt="<%= @title %>"></a>
  <h2><%= @title %></h2>
  <p><%= @preview_description %></p>
  <a class="project-preview-link" href="<%= @relative_url %>">Learn More</a>
</div>
