<div class="project-preview">
  <img class="project-preview-img" src="<%= @thumbnail_url %>" alt="<%= @title %>">
  <h2><%= @title %></h2>
  <p><%= @preview_description %></p>
  <a class="project-preview-link" href="<%= @relative_url %>">Learn More</a>
</div>
